body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 200px;
}

section {
    color: wheat;
   margin-left: 400px;
   

}
h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
main{
    height: 80vh;
    background-image: url("nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 
input{
    width:350px;
    height: 20px;
    background-color: black;
    color: white;
    border: none;
    opacity: 0.5
    ;

}
textarea{
    width: 350px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    opacity: 0.1;

    
}
.submitbtn{
    background-color:white;
    border: none;
    opacity: 0.5;
    
}